<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'contas/css/listagem.css' %}">
</head>

<body>

    <header class="header">
        <a class="title" href="">YourMoney</a>
        <nav>
            <ul class="menu">
                <li><a href="">Sobre</a></li>
                <li><a href="">contato</a></li>
                <li><a href="">sign-in</a></li>
            </ul>
        </nav>
    </header>

    <div class="new-trans-btn">
        <a class="new" href="{% url 'url_nova' %}">
            <button class="btn">Nova transação</button>
        </a>
    </div>

    <div class="form">
        {% for i in transacoes %}
        <ul>
            <a class="list-description" href="{% url 'url_update' i.id %}">
                <button>
                    {{ i.descricao }} - {{ i.data }} -
                    {{ i.valor }} - {{ i.categoria }}
                </button>
            </a>
        </ul>
        {% endfor %}
    </div>
</body>

</html>