body {
  height: 636px;
  font-family: Helvetica;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(0, #1c162c, #000);
  margin: 0;
}

li,
ul {
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.header {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.title {
  font-family: "Poppins", sans-serif;
  color: #4717f6;
  font-size: 2rem;
}

.menu {
  display: flex;
  margin-left: 10px;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  padding: 10px;
  color: #a239ca;
}

.btns {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn {
  width: 200px;
  height: 64px;
  border: none;
  border-radius: 0.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffff;
  text-decoration: none;
  background-color: #100d1a;
  cursor: pointer;
  text-transform: capitalize;
}

button:hover {
  background-color: #000;
}
